@import url('http://fonts.cdnfonts.com/css/led-digital-7');



body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    font-size: 60px;
    font-family: 'LED Digital 7', sans-serif;                                                
    letter-spacing: 7px;



}